.message__card{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}
.message_user{
    margin-left: auto;
    background-color: #0b81ff !important;
    color: whitesmoke !important;
    text-align: right;
}
.message_guestuser{
    background-color: #e9e9eb !important;
}